.mainContent {
  position: relative;
}
.mainContent img {
  width: 100%;
  height: 90vh;
}
.content {
  position: absolute;
  top: 20%;
  left: 10%;
  color: white;
  line-height: 1.5;
}
.mainMovie_title {
  font-size: 4rem;
  font-weight: bold;
}
.lavel {
  font-size: 2rem;
  font-weight: bold;
}
.summary {
  width: 40%;
  font-size: 1.2rem;
  margin-top: 2em;
  height: 300px;

  overflow: hidden;
  text-overflow: ellipsis;
}
